<main class="container">
  <div class="bg-light mt-3 p-5 rounded">
    <h1>New Test</h1>
    <p class="lead">Use this option if you want to start a new test. Any unfinished attempts will be lost.</p>
    <a class="btn btn-lg btn-primary" href="/test" role="button">Start new test &raquo;</a>
  </div>
  <div class="bg-light mt-3 p-5 rounded">
    <h1>Continue where You Left Off</h1>
    <p class="lead">Use this option if you had to close a previous test session and you want to continue now.</p>
    <a class="btn btn-lg btn-primary" href="#" role="button">Back to the test &raquo;</a>
  </div>
  <div class="bg-light mt-3 p-5 rounded">
    <h1>Statistics</h1>
    <p class="lead">Use this option if you want to see how much times does one test take to complete, how many mistakes you did and etc.</p>
    <a class="btn btn-lg btn-primary" href="#" role="button">Check the stats &raquo;</a>
  </div>
</main>